{% extends 'base.html' %}

{% block content %}

{% for p in featured_post %}
{% if forloop.first %}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{p.featured_image.url}});background-blend-mode: overlay;background-size:cover;">
  <div class="col-md-8 px-0">
    <h1 class="display-4 font-italic">{{ p.title }} </h1>
    <p class="lead my-3"> {{ p.short_description | truncatewords:20}} </p>
    <p class="lead mb-0"><a href="{% url 'blog' p.slug %}" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
  </div>
  
  {% endif %}
  {% endfor %}    
  
  
  
  
  <div class="row mb-2">
    {% for p in featured_post %}
    {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blog' p.slug %}" class= 'text-dark'>{{p.title}}</a> </h3>
          <small class="mb-1 text-muted">{{p.created_at | timesince}} | {{p.author}}</small>
          <p class="card-text"> {{p.short_description | truncatewords:20}} </p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %} 
    
    
    <main role="main" class="container p-0">
      <div class="row">
        <div class="col-md-8 blog-main">
          {% for p in post %}
          
          <div class="card border-0" >
            <div class="card-body">
              <h3><a href="{% url 'blog' p.slug %}" class= 'text-dark'>{{p.title}}</a> </h3>
              <small class="mb-1 text-muted">{{p.created_at | timesince}} | {{p.author}}</small>
              <p class="card-text"> {{p.short_description | truncatewords:20}} </p>
            </div>
          </div>
          
          {% endfor %}
        </div>
       
        
      </div><!-- /.row -->
      
    </main><!-- /.container -->
    
  </div>
  
  {% endblock content %}