{% extends 'base.html' %}

{% block content %}

<h3 class=' text-danger' style='letter-spacing:2px;'> searched for {{keyword}}    </h3>
    <div class="row mb-2">
        {% if blog_ %}
            {% for p in blog_ %}
                <div class="col-md-6">
                <div class="card border-0" >
                    <div class="card-body">
                    <h3> <a href="{% url 'blog' p.slug %}" class= 'text-secondary'>{{p.title}}</a> </h3>
                    <small class="mb-1 text-muted">{{p.created_at | timesince}} | {{p.author}}</small>
                    <p class="card-text"> {{p.short_description | truncatewords:20}} </p>
                    </div>
                </div>
                </div>
            {% endfor %}
        {% else %}
        <p class= mx-5>Sorry...No posts found....</p>
        <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br>   
        {% endif %}
    </div>

{% endblock content %}


